In [5]:
import pandas as pd
print(pd.__version__)

2.2.2

In [49]:
import pandas as pd
url="https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
df=pd.read_csv(url)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [13]:
print("Number of records:", len(df))

Number of records: 9704

In [41]:
l=df['fuel_type'].unique()
print("Fuel types are present in the dataset:",len(l))

Fuel types are present in the dataset: 2

In [53]:
m_cols=df.isnull().sum()
mis_data=m_cols[m_cols > 0]
print("Number of columns with missing values:", len(mis_data))

Number of columns with missing values: 4

In [45]:
max_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print(max_asia)

23.759122836520497

In [55]:
median_b4 = df['horsepower'].median()
print("Median before filling missing values:", median_b4)

mode_hp = df['horsepower'].mode()[0]
print("Most frequent value of horsepower:", mode_hp)

df['horsepower'] = df['horsepower'].fillna(mode_hp)


median_af = df['horsepower'].median()
print("Median after filling missing values:", median_af)

if median_af > median_b4:
    print("Yes, it increased")
elif median_af < median_b4:
    print("Yes, it decreased")
else:
    print("No")

Median before filling missing values: 149.0
Most frequent value of horsepower: 152.0
Median after filling missing values: 152.0
Yes, it increased

In [57]:

import numpy as np
df_asia = df[df['origin']=='Asia']

df_asia_subset = df_asia[['vehicle_weight', 'model_year']]

df_first7 = df_asia_subset.head(7)

X = df_first7.to_numpy()

XTX = X.T @ X  # or np.dot(X.T, X)

XTX_inv = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

w = XTX_inv @ X.T @ y

sum_w = w.sum()
print("Sum of elements in w:", sum_w)

Sum of elements in w: 0.5187709081074007